<div class="p-4 bg-white shadow-lg rounded-t-md">
  <div class="mb-4 flex justify-end">
    <a
      [routerLink]="['/quiz', kategorie()]"
      class="kategorie text-2xl hover:underline text-zinc-500"
      >{{kategorie()}}</a
    >
  </div>
  @for (frage of fragen(); track frage.abstimmungs_id) {

  <wal-quiz-question
    [frage]="frage"
    [antwort]="getAntwort(frage.abstimmungs_id) | async"
    (antwortChange)="setAntwort(frage.abstimmungs_id, $event)"
  ></wal-quiz-question>

  } @empty {
  <div class="p-4 bg-yellow-100 border border-yellow-300 rounded-lg">
    <p class="mb-2">Ohje. In dieser Kategorie sind keine Fragen.. Und nun? 😬</p>
    <p>
      Willst du vielleicht
      <a
        [routerLink]="'/'"
        class="underline decoration-2 decoration-primary text-blue-500 hover:underline"
      >
        zurück zum Start
      </a>
      oder
      <a
        [routerLink]="['/quiz', ersteKategorie]"
        class="underline decoration-2 decoration-primary text-blue-500 hover:underline"
      >
        zur ersten Quiz Kategorie
      </a>
      gehen?
    </p>
  </div>
  }

  <div class="mb-6 sm:p-4 gap-2 flex sm:justify-between flex-col-reverse sm:flex-col sm:flex-row">
    @if (prevKategorie()) {
    <a
      [routerLink]="['/quiz/', prevKategorie()]"
      class="hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow flex justify-center gap-1"
    >
      <la-icon icon="angle-left"></la-icon> Zurück
    </a>
    } @else {
    <a
      [routerLink]="['/home']"
      class="hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow flex justify-center gap-1"
    >
      <la-icon icon="angle-left"></la-icon> Startseite
    </a>
    }

    <a
      [routerLink]="['/auswertung']"
      class="hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow flex justify-center gap-1"
    >
      <la-icon icon="chart-bar"></la-icon> Auswertung
    </a>

    @if (nextKategorie()) {
    <a
      [routerLink]="['/quiz/', nextKategorie()]"
      class="hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow flex justify-center gap-1"
    >
      <la-icon icon="angle-right" class="block sm:hidden"></la-icon>
      Weiter
      <la-icon icon="angle-right" class="hidden sm:block"></la-icon>
    </a>
    }
  </div>
</div>
@if (fortschritt(); as progress) {
<div class="bg-stone-100 rounded-b-md text-xs">
  <div
    class="bg-stone-200 text-gray-500 flex align-middle justify-center rounded-bl-md"
    [style.width.%]="progress"
  >
    {{progress}}%
  </div>
</div>
}
<!--alles kaput machen!-->