<div class="p-4 bg-white shadow-lg rounded">
  <h1>Impressum</h1>

  <section class="imprint">
    <p class="text-gray-700 my-2">
      DeinWal ist ein Gemeinschaftsprojekt von <strong>Tom Theile</strong> und
      <strong>Martin Scharm.</strong> Tom arbeitet am
      <a
        class="underline decoration-2 decoration-primary"
        href="https://www.demogr.mpg.de/en/about_us_6113/staff_directory_1899/tom_theile_3933/"
      >
        Max-Planck-Institut für demographische Forschung
      </a>
      als Softwareentwickler. Martin ist Senior Architect und macht meist irgendwelche
      <a class="underline decoration-2 decoration-primary" href="https://binfalse.de/"
        >Dinge mit dem Computer.</a
      >
    </p>

    <h2 class="mb-4 mt-8">Diensteanbieter</h2>

    <p class="text-gray-700 my-2">Betreiber Verantwortlich für den Inhalt ist Martin Scharm.</p>

    <h2 class="mb-4 mt-8">Kontaktmöglichkeiten</h2>

    <p class="text-gray-700 my-2">
      Am einfachsten erreichst du uns per E-Mail:
      <a class="underline decoration-2 decoration-primary" href="{{ mto }}info@{{ domain }}.de"
        >info&#64;{{ domain }}.de</a
      >
    </p>
    <p class="text-gray-700 my-2">Aber natürlich auch auf dem Postweg:</p>
    <blockquote class="pl-5 text-gray-600">
      Martin Scharm<br />
      Kirchenstr. 3<br />
      18057 Rostock<br />
    </blockquote>

    <h2 class="mb-4 mt-8">Haftungs- und Urheberrechtshinweise</h2>

    <p class="text-gray-700 my-2">
      <strong>Links:</strong> Diese Webseite enthält Links zu externen Webseiten Dritter, auf deren
      Inhalte ich keinen Einfluss haben. Die verlinkten Seiten liegen außerhalb meines
      Verantwortungsbereiches; Ich mache sie mir nicht zu Eigen. Für die Inhalte der verlinkten
      Seiten und insbesondere für Schäden, die aus der Nutzung der in den verlinkten Webseiten
      entstehen, haftet allein der jeweilige Anbieter oder Betreiber der Seite. Zum Zeitpunkt der
      Verlinkung waren keine rechtswidrige Inhalte erkennbar.
    </p>

    <p class="text-gray-700 my-2">
      <strong>Verstöße gegen geltendes Recht:</strong> Die Inhalte dieser Seiten wurden mit größter
      Sorgfalt erstellt. Sollten Sie dennoch potentielle Rechtsverstöße bemerken, weisen Sie mich
      bitte darauf hin. Rechtswidrige Inhalte und Links werden umgehend entfernt.
    </p>
  </section>
</div>
