/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";



@font-face {
    font-family: "Petrona";
    display: swap;
    src: url("/fonts/Petrona/Petrona-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    display: swap;
    src: url("/fonts/Noto_Sans/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
}

@theme {
    --font-special: "Petrona", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-sans: "Noto Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-primary: var(--color-amber-600);
    --color-primary-dark: var(--color-amber-700);
  --color-primary-bright: var(--color-amber-400);
  --color-primary-brightest: var(--color-amber-100);
}


h1 {
  @apply font-bold text-2xl font-special;
}
h2 {
  @apply font-bold text-xl font-special;
}
h3 {
  @apply font-bold text-lg font-special;
}

.kategorie::before {
    content: "§ ";
    @apply font-bold;
}

.ja-color {
  @apply bg-emerald-500;
}
.nein-color {
  @apply bg-purple-500;
}
.enthalten-color{
  @apply bg-gray-500;
}
.ja-background {
  background-image: url('/ja-hintergrund.png');
  background-repeat: repeat-x;
  background-position: center;
}
.nein-background {
  background-image: url('/nein-hintergrund.png');
  background-repeat: repeat-x;
  background-position: center;
}
.enthalten-background {
  background-image: url('/enthalten-hintergrund.png');
  background-repeat: repeat-x;
  background-position: center;

}
