<div class="text-center mb-12 py-10">
  <h1 class="text-4xl font-bold text-gray-900">FAQ</h1>
  <p class="text-lg text-gray-600 mt-4">Häufig gestellte und ausgedachte Fragen</p>
</div>

@if (contents.length > 0) {
<div class="mb-14 mx-6">
  <ul class="list-disc list-inside">
    @for (question of contents; track question.id) {
    <li class="py-2">
      <a href="/faq#{{question.id}}" class="underline decoration-2 decoration-primary">
        {{question.question}}
      </a>
    </li>
    }
  </ul>
</div>
}

<div class="space-y-4">
  <div class="bg-white rounded-lg shadow-md">
    <div class="flex justify-between items-center cursor-pointer p-6">
      <h2 #question class="text-xl font-semibold">Was ist DeinWal.de?</h2>
    </div>
    <div class="p-6 pt-0 text-gray-600">
      <p class="mb-3">
        Auf
        <a href="https://deinwal.de" class="underline decoration-2 decoration-primary">
          DeinWal.de
        </a>
        hast du den Wal! (Oder die Wahl?) ✌️<br />
        Dein Wal gibt dir die Möglichkeit, deine Einstellung zu verschiedenen Themen mit den
        Entscheidungen der Parteien zu vergleichen. In einem Quiz kannst du einige der tatsächlich
        stattgefundenen Abstimmungen im Bundestag nachspielen und herausfinden, welche Partei am
        ähnlichsten wie du abgestimmt hat. Die Fragen beruhen auf echten Abstimmungen der letzten
        Legislaturperiode und nicht auf Absichtserklärungen der Parteien.
      </p>
      <p class="mb-3">
        In der Auswertung kannst du dann sehen, welche Partei am häufigsten in deinem Sinne
        abgestimmt hat. Solltest du schon eine Partei favorisieren, kannst du auch gut überprüfen,
        ob sich deine Präferenz bestätigt und bei welchen Themen eure Meinungen abweichen.
      </p>
      <p class="mb-3">
        Wir haben versucht alle Thesen und Fragen so objektiv wie möglich darzustellen und aus den
        über 100ten Abstimmungen der letzten Jahre auszuwählen. Dafür haben wir uns die Wortwahl der
        originalen Anträge angeschaut, aber auch die auf
        <a href="https://bundestag.de" class="underline decoration-2 decoration-primary">
          Bundestag.de
        </a>
        verfügbaren Reden der Abgeordneten aller Parteien und die Berichterstattung in verschiedenen
        Medien über diese Themen und Abstimmungen.
      </p>
      <p class="mb-3">
        Dein Wal achtet dabei besonders auf deine Privatsphäre! Nachdem du die Seite einmal geladen
        hast, wird nichts mehr über das Internet kommuniziert. Deine Entscheidungen hier sind also
        wirklich geheim &mdash; wie es bei einer Wahl sein soll. Das unterscheidet deinen Wal leider
        noch von den meisten anderen Wahlhelfern, die deine Daten regelmässig an den Server
        zurückmelden. Wir wünschen uns an der Stelle dringend Verbesserungen.
      </p>
    </div>
  </div>

  <div class="bg-white rounded-lg shadow-md">
    <div class="flex justify-between items-center cursor-pointer p-6">
      <h2 #question class="text-xl font-semibold">Wie kommt ihr auf den bescheuerten Namen?</h2>
    </div>
    <div class="p-6 pt-0 text-gray-600">
      <p class="mb-3">
        WahlWal.de war leider schon vergeben und WahlWachtel war irgendwie noch bescheuerter.
      </p>
    </div>
  </div>

  <div class="bg-white rounded-lg shadow-md">
    <div class="flex justify-between items-center cursor-pointer p-6">
      <h2 #question class="text-xl font-semibold">Schon wieder ein neues Design?</h2>
    </div>
    <div class="p-6 pt-0 text-gray-600">
      <p class="mb-3">
        Genau.. Wie ihr wahrscheinlich ahnt sind wir keine UI/UX-Experten, versuchen uns aber
        natürlich stetig zu verbessern! Manchmal muss man dafür auch mal einen Schritt zurück
        treten. Hauptsache pixelimperfekt!
      </p>
      <p class="mb-3">
        Wir haben aber bei der Erstellung dieses Wals eine interessante Idee für eine komplett neue
        Oberfläche entwickelt! <br />
        Leider schaffen wir es nicht, die Idee in diesem Projekt noch umzusetzen &mdash; aber ihr
        dürft auf euch auf den nächsten Wal freuen! :)
      </p>
    </div>
  </div>

  <div class="bg-white rounded-lg shadow-md">
    <div class="flex justify-between items-center cursor-pointer p-6">
      <h2 #question class="text-xl font-semibold">Warum macht ihr das?</h2>
    </div>
    <div class="p-6 pt-0 text-gray-600">
      <p class="mb-3">Danke für diese sehr gute Frage ;-)</p>
      <p class="mb-3">
        Man kann stundenlang über Politik diskutieren, sich dabei gegenseitig beschimpfen und man
        kommt doch zu keinem gemeinsamen Ergebnis. Doch was kann ICH als "normaler Mensch" schon
        tun, um ein bisschen was zu verbessern? In die Politik gehen und meine Seele verkaufen ;)?
        Aber an welche Partei denn? Wir wollten also etwas praktisches umsetzen!
      </p>
      <p class="mb-3">
        Die Idee zu DeinWal ist schon ein bisschen älter und entstand beim spielen des Wahl-O-Mats:
      </p>
      <blockquote class="pl-5 mb-3 italic">
        "Moment mal, alle Parteien sind für dieses Thema? Warum haben einige dann noch vor einem
        Jahr dagegen gestimmt?".
      </blockquote>
      <p class="mb-3">
        Bei anderen Politik-Fragebögen werden private Daten und politische Einstellungen von
        Millionen von Menschen durch das Internet geschickt, potentiell gespeichert und ausgewertet.
        Die Benutzer können nicht wissen was mit ihren Eingaben passiert. Mit einem Quiz, dass
        ausschließlich in deinem Browser läuft, müssen deine Daten nirgendwo hingesendet werden
      </p>
      <p class="mb-3">
        Bei unseren Recherchen für deinen Wal haben wir selber eine ganze Menge gelernt. Dieses
        Wissen möchten wir hier auch gerne weiter geben. Wir hoffen, dass dein Wal viele Besucher
        zum kritischen Nachdenken anregt und ein bisschen veranschaulicht, was in den letzten Jahren
        im Parlament passiert ist und wie sich die Parlamentarier damit auseinandersetzen mussten.
      </p>
    </div>
  </div>

  <div class="bg-white rounded-lg shadow-md">
    <div class="flex justify-between items-center cursor-pointer p-6">
      <h2 #question class="text-xl font-semibold">
        Warum fehlen so viele kleinere Parteien in der Auswertung?
      </h2>
    </div>
    <div class="p-6 pt-0 text-gray-600">
      <p class="mb-3">
        Aufgrund des Konzepts konnten wir leider nur Parteien berücksichtigen, die in den Bundestag
        gewählt wurden. Das sind CDU/CSU, SPD, Die Grünen, Die Linke, AfD und FDP. Von den anderen
        Parteien gibt es leider keine Abstimmungsergebnisse aus dem Bundestag, mit denen du dich
        vergleichen könntest. Du solltest dich aber trotzdem auf jeden Fall auch
        <a
          href="https://www.bundeswahlleiterin.de/info/presse/mitteilungen/bundestagswahl-2025/06_25_ergebnisse_1bwa.html"
          class="underline decoration-2 decoration-primary"
        >
          über alle 41 Parteien informieren,
        </a>
        die zur Bundestagswahl 2025 zugelassen wurden.
      </p>
    </div>
  </div>

  <div class="bg-white rounded-lg shadow-md">
    <div class="flex justify-between items-center cursor-pointer p-6">
      <h2 #question class="text-xl font-semibold">Also wen soll ich denn jetzt wählen?</h2>
    </div>
    <div class="p-6 pt-0 text-gray-600">
      <p class="mb-3">Das können wir dir leider nicht sagen...</p>
      <p class="mb-3">
        Vermutlich stimmt keine Partei 100%ig mit deinen Ansichten und Plänen überein. Bei Millionen
        von Mitmenschen ist es auch nicht verwunderlich, dass eine Hand voll von Parteien nicht jede
        Meinung im Detail abbilden können. Trotzdem gibt es Parteien, die eher deine Ansichten
        vertreten als andere. Stimmst du für diese, wird die Politik in den nächsten Jahren
        potentiell eher deinen Interessen entsprechen. Stimmst du gar nicht ab überlässt du die
        Gestaltung der Zukunft den anderen.
      </p>
      <p class="mb-3">
        In einer Koalition müssen die Parteien Kompromisse eingehen. Das heißt, dass sie nicht immer
        so abstimmen, wie sie es unter anderen Umständen täten. Damit ist mit DeinWal die
        Unterscheidung zwischen den Regierungsparteien schwierig, da diese vorab ihr
        Abstimmungsverhalten aufeinander abgestimmt haben und somit fast immer gleich abgestimmt
        haben. Trotzdem stehen diese Parteien für unterschiedliche Dinge. Mit dem
        <a href="https://www.wahlquiz.de/ches/" class="underline decoration-2 decoration-primary"
          >wahlquiz.de</a
        >
        haben wir ein weiteres, (deutlich kleineres) Wahlhilfewerkzeug entwickelt, mit dem du deine
        Positionen auf einer 1-10 Skala mit Experteneinschätzungen der Parteipositionen vergleichen
        kannst. Auf
        <a href="https://wahlbilanz.de" class="underline decoration-2 decoration-primary">
          wahlbilanz.de
        </a>
        haben wir einen
        <a
          href="https://wahlbilanz.de/2017/06/ueber-fraktionsdisziplin-und-den-koalitionsvertrag/"
          class="underline decoration-2 decoration-primary"
        >
          interessanten Artikel über Fraktionsdisziplin und den Koalitionsvertrag.
        </a>
      </p>
      <p class="mb-3">
        Dein Wal kann und möchte dir also gar keine Empfehlung geben. Du hast hier ausschliesslich
        die Möglichkeit die Entscheidungen der Parteien in der letzten Legislaturperiode mit deinen
        Ansichten zu vergleichen.
        <strong>
          Dein Wal sollte auf keinen Fall die einzige Quelle sein, die du für deine Entscheidung zur
          Bundestagswahl nutzt!
        </strong>
        Guck am besten auch mal in einige der anderen Wahlhelfer:
      </p>
      <ul class="px-6 list-disc list-outside">
        @for (alternative of alternativen; track alternative.link) {
        <li class="my-2">
          <a class="underline decoration-2 decoration-primary" [href]="alternative.link">
            {{alternative.name}}
          </a>
        </li>
        }
      </ul>
      <p>(zufällige Reihenfolge)</p>
    </div>
  </div>

  <div class="bg-white rounded-lg shadow-md">
    <div class="flex justify-between items-center cursor-pointer p-6">
      <h2 #question class="text-xl font-semibold">Wer steckt alles hinter DeinWal.de?</h2>
    </div>
    <div class="p-6 pt-0 text-gray-600">
      <p class="mb-3">
        Das Team hinter DeinWal.de besteh aus genau 2 Personen: Tom Theile und Martin Scharm. Wir
        kommen aus
        <a href="https://www.rostock.de/" class="underline decoration-2 decoration-primary">
          Rostock
        </a>
        und haben lange am
        <a href="https://www.sbi.uni-rostock.de/" class="underline decoration-2 decoration-primary">
          Lehrstuhl für Systembiologie und Bioinformatik
        </a>
        der Uni im gleichen Büro gesessen. Und halt über jede Menge Quatsch wie diesen hier
        nachgedacht.
      </p>
      <p class="mb-3">
        Wir sind unabhängig, gehören keiner Partei an und haben (bisher) keinen Cent für das Projekt
        bekommen. Unsere Motivation ist einfach politisches Interesse. Wir wollten mehr über den
        Bundestag und das System in Deutschland lernen. Das ist uns auch ganz gut gelungen. Nun
        wollen wir das Wissen weitergeben und aufklären :-)
      </p>
    </div>
  </div>

  <div class="bg-white rounded-lg shadow-md">
    <div class="flex justify-between items-center cursor-pointer p-6">
      <h2 #question class="text-xl font-semibold">Wie habt ihr das technisch gelöst?</h2>
    </div>
    <div class="p-6 pt-0 text-gray-600">
      <p class="mb-3">
        Die komplette Webseite ist eine Single-Page-Javascript-Application und läuft ausschließlich
        im Browser. Sie wurde mit Angular entwickelt. Angular ist ein Typescript-Framework mit dem
        sich clientseitige Web-Applikationen sowohl für den Desktop als auch für mobile Geräte
        entwickeln lassen. Das Layout haben wir mit dem Ant-Design CSS-Framework gestaltet. Das
        Webprojekt kompiliert zu statischem Javascript-HTML-CSS-Brei, den wir dann einfach mit einem
        nginx Webserver mittels Docker Container ausliefern.
      </p>
      <p class="mb-3">
        Die Webseite ist übrigens Open Source: Auf
        <a
          href="https://github.com/wahlbilanz/deinwal-btw25"
          class="underline decoration-2 decoration-primary"
        >
          Github
        </a>
        könnt ihr die Webseite angucken, forken, Verbesserungsvorschläge einreichen und mitmachen!
      </p>
    </div>
  </div>

  <div class="bg-white rounded-lg shadow-md">
    <div class="flex justify-between items-center cursor-pointer p-6">
      <h2 #question class="text-xl font-semibold">Welche Daten werden gespeichert und getrackt?</h2>
    </div>
    <div class="p-6 pt-0 text-gray-600">
      <p class="mb-3">
        Wir benutzen keine Tracking-Dienste wie Google-Analytics. Deine Antworten bleiben geheim und
        werden an niemanden (auch nicht an uns) gesendet. Wenn du auf der Startseite das Häckchen
        bei "Speichern" aktivierst, werden deine Antworten nur in deinem Browser und nirgendwo sonst
        gespeichert. Dann kannst du den Tab schließen und morgen trotzdem nochmal weiter machen.
      </p>
      <p class="mb-3">
        Wir speichern lediglich die Server-logs, um zu zählen, wie viele Leute DeinWal.de
        herunterladen.
      </p>
    </div>
  </div>

  <div class="bg-white rounded-lg shadow-md">
    <div class="flex justify-between items-center cursor-pointer p-6">
      <h2 #question class="text-xl font-semibold">Wie kann ich meine Antworten löschen?</h2>
    </div>
    <div class="p-6 pt-0 text-gray-600">
      <p class="mb-3">
        Deine Antworten werden lokal in deinem Browser gespeichert. Das heisst sie sind nur auf
        deinem Gerät.
      </p>
      <p class="mb-3">
        @if (hasAntworten$ | async) { Um alle Daten zu löschen klick einfach
        <button
          (click)="clearData()"
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
        >
          <la-icon icon="trash-alt"></la-icon>
          löschen
        </button>
        } @else { <strong> Bei dir ist im Moment nichts gespeichert. </strong> Sobald du Fragen
        beantwortest erscheint an dieser Stelle auch ein Löschknopf. }
      </p>
    </div>
  </div>

  <div class="bg-white rounded-lg shadow-md">
    <div class="flex justify-between items-center cursor-pointer p-6">
      <h2 #question class="text-xl font-semibold">Wer finanziert das Projekt?</h2>
    </div>
    <div class="p-6 pt-0 text-gray-600">
      <p class="mb-3">
        <a href="https://deinwal.de" class="underline decoration-2 decoration-primary">
          DeinWal.de
        </a>
        wird (bisher) ausschliesslich von uns privat finanziert. Martin hat die Domain gekauft und
        stellt den Webserver zur Verfügung. Brainstormen, Hacken, Schreiben, Formulieren, Layouten,
        Bewerben etc. haben wir alles über Monate in unserer Freizeit gemacht. Und ein DeinWal ist
        wirklich eine Menge Arbeit...
      </p>
      <p class="mb-3">
        Meldet euch gern, falls ihr eine Idee für eine sinnvolle Förderung/Finanzierung habt! ;-)
      </p>
    </div>
  </div>
</div>
